:root {
    --bg-light-grey-color: #F3F3F3; 
    --border-color: #D4D4D4; 
    --text-color: #202124; 
    --secondary-text-color: #999CA2;
    --primary-color: #12c98c;
    --primary-color-hover: rgba(18, 201, 140, 0.35);
    --office-color: #12c98c;
    --office-color-hover: rgba(18, 201, 140, 0.35);
    --office-color-hover-light: rgba(18, 201, 140, 0.15);
    --studio-color: #5572f3;
    --studio-color-hover: rgba(89, 122, 255, 0.35);
    --studio-color-hover-light: rgba(89, 122, 255, 0.15);
    --garage-color: #f57921;
    --garage-color-hover: rgba(255, 138, 49, 0.35);
    --garage-color-hover-light: rgba(255, 138, 49, 0.15);
    --shop-color: #be64fe;
    --shop-color-hover: rgba(190, 100, 254, 0.35);
    --shop-color-hover-light: rgba(190, 100, 254, 0.15);
}

body {
    font-family: 'Manrope', sans-serif; 
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-color);
    width: 100%;
    margin: 0 auto;
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animated-gradient {
    height: 100vh; 
    background: linear-gradient(45deg, #cec8ff, #edffdf, #cfd9ff, #ffebc4);
    background-size: 300% 300%; 
    animation: gradient-animation 10s ease infinite;
}

h1 {
    font-family: 'Manrope', serif; 
    font-size: 2.5rem; 
    font-weight: bold;
    color: var(--text-color);
}

h2 {
    font-family: 'Manrope', serif;
    font-size: 2rem; 
    font-weight: bold;
    color: var(--text-color);
    margin-top: 0;
}

h3 {
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem; 
    font-weight: 500;
    color: var(--text-color);
}
h4 {
    font-family: 'Manrope', sans-serif;
    font-size: 1.25rem; 
    font-weight: 500;
    color: var(--text-color);
}
p{
    margin-bottom: 0;
}
.text-xs{
    font-size: 0.875rem;
}
.text-lg{
    font-size: 1.25rem;
}
.flex{
    display: flex !important;
}
.flex-stack-mobile{
    display: flex !important;
}
.flex-wrap{
    flex-wrap: wrap;
    row-gap: 1rem;
}
.flex-wrap-no-padding{
    flex-wrap: wrap;
    /* row-gap: 0rem; */
}
.flex-item{
    flex: 1;
}
.max-w-wide{
    max-width: 1150px;
}
.max-w-standard{
    max-width: 800px;
}
.max-w-thin{
    max-width: 600px;
}
.w-250px{
    width: 250px;
}
.w-25{
    max-width: 22%;
}
.w-50{
    max-width: 45%;
}
.w-33{
    width: 32%;
    height: 100%;
}
.w-100{
    width: 100%;
}
.margin-auto{
    margin: auto;
}
.margin-sm{
    margin: 0.5rem;
}
.margin-left-sm{
    margin-left: 0.5rem;
}
.margin-right-sm{
    margin-right: 0.5rem;
}
.margin-right-md{
    margin-right: 1rem;
}
.margin-bottom-sm{
    margin-bottom: 0.5rem;
}
.margin-top-md{
    margin-top: 1rem;
}
.margin-top-lg{
    margin-top: 4rem;
}
.margin-sides{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.border{
    border: 1px solid var(--border-color);
}
.rounded{
    border-radius: 10px;
}
.padding-md{
    padding: 2rem;
}
.padding-sm{
    padding: 1rem;
}
.padding-xs{
    padding: 0.5rem;
}
.padding-page-top{
    padding-top: 100px;
}
.padding-page-divider{
    padding-top: 50px;
}
.padding-page-divider-line{
    padding-top: 50px;
    border-bottom: 1px solid var(--border-color);
}
.bg-light-grey{
    background-color: var(--bg-light-grey-color);
}
.rounded-top{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.img-display-sm{
    max-width: 250px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
}
.img-cover{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    object-position: top;
}
.img-cover-container{
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.img-cover-container-short{
    height: 150px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.img-cover-container-tall{
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.img-cover-container-extrashort{
    height: 75px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.link{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    position: relative;
    cursor: pointer;
    border: 1px solid rgba(18, 201, 140, 0);
}
.text-link{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    position: relative;
}
.text-link.garage{
    color: var(--garage-color) !important;
}
.text-link.shop{
    color: var(--shop-color) !important;
}
.text-link:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    top: -2px;
	transition: all .15s ease-in-out;
}
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: end;
}
.margin-none{
    margin: 0;
}
.align-center{
    align-content: center;
}
.text-align-right{
    text-align: end;
}
.card{
    position: relative;
    background-color: white;
    display: block;
    text-decoration: none;
    color: var(--text-color);
}
.card-borderless{
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--text-color);
}
.card-primary:hover{
	text-decoration: none;
	top: -5px;
	box-shadow: 5px 5px 0px var(--primary-color-hover);
	transition: all .15s ease-in-out;
	border: 1px solid var(--primary-color);
}
.card-office:hover{
	text-decoration: none;
	top: -5px;
	box-shadow: 5px 5px 0px var(--office-color-hover);
	transition: all .15s ease-in-out;
	border: 1px solid var(--office-color);
}
.card-studio:hover{
	text-decoration: none;
	top: -5px;
	box-shadow: 5px 5px 0px var(--studio-color-hover);
	transition: all .15s ease-in-out;
	border: 1px solid var(--studio-color);
}
.card-garage:hover{
	text-decoration: none;
	top: -5px;
	box-shadow: 5px 5px 0px var(--garage-color-hover);
	transition: all .15s ease-in-out;
	border: 1px solid var(--garage-color);
}
.card-shop, .card-garage, .card-studio, .card-office, .card-primary{
    pointer-events: auto;
}
.card-shop:hover{
	text-decoration: none;
	top: -5px;
	box-shadow: 5px 5px 0px var(--shop-color-hover);
	transition: all .15s ease-in-out;
	border: 1px solid var(--shop-color);
    color: var(--shop-color);
}
.bg-office{
    background-color: var(--office-color);
}
.bg-studio{
    background-color: var(--studio-color);
}
.bg-garage{
    background-color: var(--garage-color);
}
.bg-shop{
    background-color: var(--shop-color);
}
.bg-office-light{
    background-color: var(--office-color-hover-light);
}
.bg-studio-light{
    background-color: var(--studio-color-hover-light);
}
.bg-garage-light{
    background-color: var(--garage-color-hover-light);
}
.bg-shop-light{
    background-color: var(--shop-color-hover-light);
}
.color-office{
    color: var(--office-color);
}
.color-studio{
    color: var(--studio-color);
}
.color-garage{
    color: var(--garage-color);
}
.color-shop{
    color: var(--shop-color);
}
.hover-office:hover{
    color: var(--office-color);
    transition: all .15s ease-in-out;

}
.hover-studio:hover{
    color: var(--studio-color);
    transition: all .15s ease-in-out;

}
.hover-garage:hover{
    color: var(--garage-color);
    transition: all .15s ease-in-out;

}
.hover-shop:hover{
    color: var(--shop-color);
    transition: all .15s ease-in-out;

}
.hover-bg-office:hover{
    background-color: var(--office-color-hover-light);
    transition: all .15s ease-in-out;

}
.hover-bg-studio:hover{
    background-color: var(--studio-color-hover-light);
    transition: all .15s ease-in-out;

}
.hover-bg-garage:hover{
    background-color: var(--garage-color-hover-light);
    transition: all .15s ease-in-out;

}
.hover-bg-shop:hover{
    background-color: var(--shop-color-hover-light);
    transition: all .15s ease-in-out;

}
.border-office{
    border-color: var(--office-color);
}
.border-studio{
    border-color: var(--studio-color);
}
.border-garage{
    border-color: var(--garage-color);
}
.border-shop{
    border-color: var(--shop-color);
}
.color-linkedin{
    color: #0a66c2;
}
.color-instagram {
    color: #d300c5;
}
.color-secondary {
    color: var(--secondary-text-color);
}
.color-red{
    color: #d30038;
}
.color-yellow{
    color: #d6c107;
}
.link-button{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    position: relative;
    cursor: pointer;
    display: flex !important;
    border-radius: 10px;
    padding: 1rem;
}
.link-button:hover{
    top: -5px;
    transition: all .15s ease-in-out;
    cursor: pointer;
}
.secondary-button{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--border-color);
    display: flex !important;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
}
.secondary-button:hover{
    top: -5px;
    border: 1px solid var(--border-color);
    transition: all .15s ease-in-out;
    cursor: pointer;
}
nav ul li a{
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
}
nav ul li{
    display: inline-block;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-radius: 2px;
}
nav ul{
    padding: 0;
    list-style-type: none;
}
.gap{
    gap: 0.5rem;
}
.gap-md{
    gap: 1rem;
}
.gap-row-lg{
    gap: 1rem;
    row-gap: 2rem;
}
.parent-bg:has(.card-office:hover) {
    background: var(--office-color-hover-light);
    transition: all .15s ease-in-out;
}
.parent-bg:has(.card-studio:hover) {
    background: var(--studio-color-hover-light);
    transition: all .15s ease-in-out;
}
.parent-bg:has(.card-garage:hover) {
    background: var(--garage-color-hover-light);
    transition: all .15s ease-in-out;
}
.parent-bg:has(.card-shop:hover) {
    background: var(--shop-color-hover-light);
    transition: all .15s ease-in-out;
}

.video-container {
    position: relative;
    width: 100%; /* Make the container width 100% */
    padding-bottom: 56.25%; /* Maintain a 16:9 aspect ratio */
    height: 0; /* Set height to 0 to enable aspect ratio */
    overflow: hidden; /* Hide overflow */
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make the iframe width 100% of the container */
    height: 100%; /* Make the iframe height 100% of the container */
    border: none; /* Remove the border */
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    font-size: 0.875rem;
}
th, td {
    border-bottom: 1px solid var(--border-color);
    padding: 8px;
    text-align: left;
}
th {
    background-color: var(--bg-light-grey-color);
}
td, th{
    padding: 15px;
}
.th-garage{
    background-color: var(--garage-color-hover-light);
    color: var(--garage-color);
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
td:nth-child(2), th:nth-child(2) {
    text-align: right;
}
.column{
    flex: 1;
}
.logo{
    width: 210px;
    height: 50px;
    background: url("assets/reginalogo-01.svg") no-repeat;
    display: inline-block;
    background-position: 40px;
}
.logo:hover{
    background: url("assets/reginalogo-02.svg") no-repeat;
    display: inline-block;
    background-position: 40px;
}
.logo-small{
    width: 210px;
    height: 35px;
    background: url("assets/reginalogo-01.svg") no-repeat;
    display: inline-block;
    background-position: 0px;
}
.logo-small:hover{
    background: url("assets/reginalogo-02.svg") no-repeat;
    display: inline-block;
    background-position: 0px;
}
@media only screen and (max-width: 768px) {
    .flex-stack-mobile{
        flex-direction: column;
    }
    .w-50{
        max-width: 100%;
    }
    .w-25{
        max-width: 100%;
    }
    .mobile-100{
        width: 100% !important;
    }
    .max-w-wide{
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }
    .max-w-standard{
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }
    .max-w-thin{
        max-width: none;
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }
    .img-display-sm{
        max-width: none;
    }
    .nav-wrapper{
        position: relative;
        align-items: center;
    }
    #nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
    }

    #nav-links li {
        display: block;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        width: 100%;
    }

    /* Hamburger Menu Style */
    #hamburger-icon {
        cursor: pointer;
        display: block;
    }

    /* Show hamburger menu on mobile */
    .lucide-icon {
        font-size: 24px;
    }

    /* When hamburger is clicked, show the navigation links */
    .hamburger-active {
        display: flex !important;
        /* width: 100vw; */
        position: fixed;
        top: 35px;
        left: 0;
    }
}

@media only screen and (min-width: 769px) {
    #hamburger-icon {
        display: none; /* Hide hamburger icon on large screens */
    }

    #nav-links {
        display: flex;
        flex-direction: row;
        height: fit-content;
    }
}